<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highway to hell</title>
</head>
<body>
<div>
    Livin' easy<br>
    Livin' free<br>
    Season ticket on a one way ride<br>
    Askin' nothin'<br>
    Leave me be<br>
    Takin' everythin' in my stride<br>
    Don't need reason<br>
    Don't need rhyme<br>
    Ain't nothin' that I'd rather do<br>
    Goin' down<br>
    Party time<br>
    My friends are gonna be there too<br>
    <br>
    I'm on the highway to hell<br>
    On the highway to hell<br>
    Highway to hell<br>
    I'm on the highway to hell<br>
    <br>
    No stop signs<br>
    Speed limit<br>
    Nobody's gonna slow me down<br>
    Like a wheel<br>
    Gonna spin it<br>
    Nobody's gonna mess me around<br>
    Hey, Satan<br>
    Payin' my dues<br>
    Playin' in a rockin' band<br>
    Hey, mamma<br>
    Look at me<br>
    I'm on the way to the promised land<br>
    <br>
    I'm on the highway to hell<br>
    Highway to hell<br>
    I'm on the highway to hell<br>
    Highway to hell<br>
    <br>
    Don't stop me<br>
    <br>
    I'm on the highway to hell<br>
    On the highway to hell<br>
    I'm on the highway to hell<br>
    On the highway to hell<br>
    <br>
    (highway to hell) I'm on the highway to hell<br>
    (highway to hell) highway to hell<br>
    (highway to hell) highway to hell<br>
    (highway to hell)<br>
    <br>
    And I'm goin' down<br>
    All the way<br>
    I'm on the highway to hell
</div>

</body>
</html>