<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highway to hell</title>
</head>
<body>
<div>
    I'm a rolling thunder, a pouring rain<br>
I'm comin' on like a hurricane<br>
My lightning's flashing across the sky<br>
You're only young but you're gonna die<br>
I won't take no prisoners, won't spare no lives<br>
Nobody's putting up a fight<br>
I got my bell, I'm gonna take you to hell<br>
I'm gonna get you, Satan get you<br>
Hell's bells<br>
Yeah, hell's bells<br>
You got me ringing hell's bells<br>
My temperature's high, hell's bells<br>
I'll give you black sensations up and down your spine<br>
If you're into evil you're a friend of mine<br>
See the white light flashing as I split the night<br>
'Cause if good's on the left,<br>
Then I'm stickin' to the right<br>
I won't take no prisoners, won't spare no lives<br>
Nobody's puttin' up a fight<br>
I got my bell, I'm gonna take you to hell<br>
I'm gonna get you, Satan get you<br>
Hell's bells<br>
Yeah, hell's bells<br>
You got me ringing hell's bells<br>
My temperature's high, hell's bells<br>
Yeow<br>
Hell's bells, Satan's comin' to you<br>
Hell's bells, he's ringing them now<br>
Hell's bells, the temperature's high<br>
Hell's bells, across the sky<br>
Hell's bells, they're takin' you down<br>
Hell's bells, they're draggin' you around<br>
Hell's bells, gonna split the night<br>
Hell's bells, there's no way to fight, yeah<br>
Ow, ow, ow, ow<br>
Hell's bells<br>
</div>
</body>
</html>